{% extends "layout.html" %}

{% block content %}
<P>This app takes your zip code and makes a spotify playlist of all the bands playing near you!</P>

{% from "_formhelpers.html" import render_errors %}
<form action = "/" method = post class="form-inline w-100 justify-content-center align-items-center my-4">
      {{ form.csrf_token }}
      {{ form.zipcode(class_="form-control m-2") }}
      {{ form.daterange(class_="flatpickr flatpickr-input form-control m-2", id="datepick", readonly="readonly", placeholder="Select Date.." ) }}
      {{ form.distance }}
      {{ render_errors(form.zipcode) }}<br>
      {{ render_errors(form.daterange) }}<br>
      {{ form.submit(class_="btn btn-primary m-2", value="submit") }}
</form>
</form>
{% endblock %}